.Cell {
  height: 100%;
  width: 100%;
  min-height: 20px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  display: grid;
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 3px;
  transition: all 0.5s ease-out;
  opacity: 0.8;
}

.Elevated {
  background-color: var(--cell-color);  
}
.Status {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30%;
}

.Cell-2048 {
  background-color: var(--cell-color-won);
}
.Cell-1024, .Cell-512, .Cell-256, .Cell-128 {
  background-color: var(--cell-color-almost-won);
}
.Cell-64, .Cell-32 {
  background-color: var(--cell-color-move);
}
