.Container {
  height: 300px;
  width: 300px;
  display: grid;
  background-color: var(--background);
  border: 1px inset var(--border-color);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  padding: 3px;
  transition: all 0.5ms ease-in-out;
}
.App-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  font-size: large;
  overflow: hidden;
}