:root {
  --background: #4F436D;
  --border-color: #3D315B;
  --text-color:  #fff;
  --cell-color: #3D315B;
  --cell-color-move: #79718C;
  --cell-color-almost-won: #8A79B7;
  --cell-color-won: #AE90F9;
  --easing: cubic-bezier(.5,0,.5,1);
}
.App {
  text-align: center;
}
.Restart {
  background-color: var(--cell-color);  
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-size: 1em;
  padding: 8px 16px;
  opacity: 0.8;
}
.App-header {
  background-color: var(--background);
  height: 100px;
  padding: 20px;
  color: var(--text-color);
}
.App-header h1 {
  margin: 0px;
  opacity: 0.8;
}
.App-header p {
  margin: 14px;
  opacity: 0.8;
}
.App-title {
  font-size: 1.5em;
}
.App-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  font-size: large;
  overflow: hidden;
}

footer {
  border-top: 0.5px solid var(--border-color);
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .App-header {
    height: 130px;
  }  
} 
